
<main>

<h1 class="events_with"><%= company["company"]%> Events with loopd</h1>

  <section class="company_grid">

    <div class="each_event">
        <% events.each do | event | %>
            <img class="event_image" src="<%= event["image_url"]%>" alt="">
            <ul class="event_text">
              <li> <%= event["theme"]%></li>
              <li><%= event["event_type"]%></li>
              <li>Venue: <%= event["venue"]%></li>
              <li>Event Date: <%= event["event_date"]%></li>
              <li>Guests: <%= event["guests"]%> pax</li>
              <li>Budget: $ <%= event["budget"]%></li>
              <li><%= event["notes"]%></li>

              <% if event["event_date"] > Time.now.to_s %>
                <button><a href="/events/<%= event["id"]%>/edit">Update</a></button>
                <form action="/events/<%= event["id"]%>" method="post">
                  <input type="hidden" name="_method" value="delete">
                  <button>Delete</button>
                </form>
              <% else %>
                <button><a href="/events/<%= event["id"]%>/edit">Add Notes</a></button>
              <% end %>
            </ul>
        <% end %>
    </div>
  </section>

</main>

