<nav><button class="home_btn"><a href="/">Home</a></button>
<button class="about_btn"><a href="/about">About</a></button></nav>

<img src="<%= event["image_url"]%>" alt="event image">

<div class="event_details">
<p> <%= event["theme"]%></p>
<p><%= event["event_type"]%></p>
<p>Venue: <%= event["venue"]%></p>
<p>Guests: <%= event["guests"]%> pax</p>
</div>



